aniso8601==9.0.1
asgiref==3.8.1
Django==5.0.6
django-cors-headers==4.4.0
django-filter==24.2
django-ratelimit==4.1.0
django-redis==5.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
graphene==3.3
graphene-django==3.2.2
graphql-core==3.2.3
graphql-relay==3.2.0
Markdown==3.6
promise==2.3
psycopg2==2.9.9
PyJWT==2.8.0
python-dotenv==1.0.1
redis==5.0.8
six==1.16.0
sqlparse==0.5.0
text-unidecode==1.3
